#container {
	display:flex;
	flex-direction:column;
	max-width=900px;
	margin:3 auto;
}
#containerM {
	display:flex;
	flex-direction:row;
}
aside {
	flex:4;
}
article {
	flex:5;
}
nav {
	flex:1;
}
header, footer {
	height: 120px; /* ajuste selon ta barre */

	background-image: 
		linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
		url("/media/etudiant/4849-2EC3/projet/images/imageclaire.jpg");

	background-size: cover;        /* remplit toute la barre */
	background-position: center;   /* centre l’image */
	background-repeat: no-repeat;

	display: flex;
	align-items: center;           /* centre le texte verticalement */
	justify-content: center;       /* centre horizontalement */

	color: white;
	text-align: center;
}
}
article,aside,nav {
	padding:5px;
}
article h2:first-child {
	margin-top:0;
}
aside,nav {
	background:#00ff00;
}
aside h2,nav h2 {
	margin:0;
}
nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
nav ul a {
	text-decoration:none;
}
nav ul a:hover {
	text-decoration:underline;
}
